@model Projeto01.Models.Fabricante
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Detalhes Fabricante";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Detalhes dos Fabricantes
    </div>
    <div class="panel-body">
        <div class="form-group">
            @Html.LabelFor(model => model.Nome)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                @Html.EditorFor(model => model.Nome, new { htmlAttribute = new { @class = "form-control", disabled = "disabled" }})
            </div>
        </div>
    </div>
    <div class="panel-footer panel-info">
        @Html.ActionLink("Alterar", "Edit", new { id = Model.FabricanteID }, new { @class = "btn btn-info" })
        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info" })
    </div>
</div>
