@model Modelo.Cadastros.Fabricante
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Detalhes Fabricante";
}
<div class="panel panel-primary">
    <div class="panel-body">
        @Html.Partial("~/Views/Fabricantes/_PartialDetailsContentPanel.cshtml", Model)
    </div>
    <div class="panel-footer panel-info">
        <div class="col-md-offset-2	col-md-10">
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Alterar", "Edit", new { id = Model.FabricanteID }, new { @class = "btn btn-danger" })
        </div>
        <br />
        <br />
    </div>
</div>

@Html.Partial("~/Views/Produtos/_PorFabricante.cshtml", Model.Produtos.ToList())
